.inter-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-subtitle {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #333;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    min-width: 480px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: rgb(0, 0, 0);
}

hr {
    height: 1px;
    background-color: rgb(191, 191, 191);
    border: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
}

nav > a {
    margin: 0 0.5rem;
}

.main-section {
    margin: 10px;
}

.hero-container {
    display: flex;
}

.hero-image {
    max-width: 25%;
    margin: 0 0.5rem;
}

.hero-image > img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
    aspect-ratio: 3/4;
}

.hero-description {
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f8f8f8;
  color: #333;
  font-size: 0.9rem;
}

.badge {
    font-style: italic;
}

@media screen and (max-width: 750px) {
  .hero-image {
    display: none;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-description {
    font-size: 1rem;
    text-align: center;
  }

  .projects-container .project {
    margin-bottom: 1.5rem;
  }
}

form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

input, textarea {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

#form-message {
  margin-top: 0.5rem;
  font-weight: bold;
}
